

.thumb {
	width: 100%;
	height: auto;
	margin: 2px;
	border: 1px solid #000;
  transition: all 0.1s;		
  cursor: pointer;
}
.thumb:hover {
	margin: 0;
	border: 3px solid #000;
}

.project-title {
  font-family: "Times New Roman", serif;	
  font-size: 1em;
  font-weight: bold;
}

.project-subtitle {
  font-family: "Times New Roman", serif;	
  font-size: 0.7em;
}


/* for sidebar */




h4 {
	font-size: 0.8em;
	font-family: "Times New Roman", serif;	
	margin: 20px 0 0;
	font-weight: lighter;
}


.other-links, .contact, .login, .logout {
	text-decoration: underline;
	font-weight: bold;
	cursor: pointer;
	padding: 2px 0;	
}
.other-links:hover, .contact:hover, .login:hover, .logout:hover {
	background-color: #000;
	color: #FFF;
	padding: 2px 5px;
}	
.contact {
  font-family: "Arial", sans-serif;	
  font-weight: lighter !important;
  margin-bottom: 30px;
  margin-top: 50px;
}
.login {
  margin-top: 30px;
  font-weight: bold;	
}
