<!-- <pre>{{ projects | async | json }}</pre> -->

<ng-template #loading class="loading">           
   <br><br>
   <mat-spinner color="warn" class="loading-mat-spinner"></mat-spinner>
   <br><br>
</ng-template>

<div fxFlex="100" fxLayout="row wrap">
   <div 
      *ngIf="project$ | async; let projects; else loading"
      fxFlex="90" 
      fxLayoutAlign="start start"
      fxLayout="row wrap">
         <div fxFlex="100">
            <header-anna></header-anna>            
         </div>
         <div 
            *ngFor="let project of projects"
            fxLayoutGap="5px"
            fxLayoutAlign="start start"
            fxLayout="column"
            fxFlex="30"
            [ngStyle]="{'padding':'10px'}">
               <project-capsule [projectkey]="project.$key"></project-capsule>
         </div>     
   </div>
   <div fxFlex="10">
      <grid-sid-nav></grid-sid-nav>
   </div>
</div>