button {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.1em;
}

hr {
	border: 1px dotted #eee;
}

.admin-nav {
	padding-left: 20px;
}

.admin-nav button {
	color: #FFF;
	font-size: 0.8em;
	margin: 5px;
	border-right: 1px dotted #CCC;
}