
<div fxFlex="100" fxLayout="row wrap">
	<div fxFlex="90" fxFlex.xs="100" fxLayout="column">
		<div 
		  fxLayoutAlign.xs="center center"
		  fxFlex="100">
		     <header-anna></header-anna>            
		</div>
		<div [ngStyle]="{'padding':'20px'}">
			<p>
				Anna Lemoine was born in 1982. <br>
				She is Art Director and Graphic Designer since 2007. <br>
				Anna Lemoine expertise lies in development of image, concept, <br>
				and communication for brands, edition and art projects.
			</p>

			<p [ngStyle]="{'font-style':'italic'}">
				Anna Lemoine est née en 1982. <br>
				Elle est directrice artistique et graphiste depuis 2007. <br>
				Anna Lemoine est spécialisée dans le développement de l’image, du concept <br>
				et de la communication pour les marques, l’édition et les projets artistiques.	
			</p>

			<p>
				Anna Lemoine <br>
				<a href="tel:+33699374348">+33 6 99 37 43 48</a><br><br>
				<a href="mailto:anna@annalemoine.com">anna@annalemoine.com</a>
			</p>
		</div>
	</div>
   <div fxFlex="10" fxHide.xs>
      <!-- <grid-sid-nav></grid-sid-nav> -->
   </div>
</div>