

p {
    font-family: "Times New Roman", serif;
    font-size: 0.9em;
    padding: 10px 0;
    color: #4C4C4C
}

a {
    font-family: "Times New Roman", serif;	
    text-decoration: underline;
    color: #000;
}
a:hover {
	background-color: #000;
	color: #FFF;
	padding: 2px 5px;
  text-decoration: none;	
}