<!-- {{ project | async | json }} -->

<ng-template #loading>        
  <br><br><br><br>
  <mat-spinner color="warn"></mat-spinner>
  <br><br>
</ng-template>


<div *ngIf="project | async as project; else loading" fxLayout="column">

    <div *ngIf="showThumbOrCarousel" (click)="loadImagesFromService()">
	    <img *ngIf="project.thumb"  class="thumb" src="{{ project.thumb }}">
	    <img *ngIf="!project.thumb" class="thumb" src="https://firebasestorage.googleapis.com/v0/b/anna-lemoine-prod.appspot.com/o/theme%2Fempty-project-black.png?alt=media&token=85ccf469-2d8f-4895-acd3-ac61e045c256" alt="">	
	  </div>

		<div *ngIf="!showThumbOrCarousel" fxLayout="column">
			<div *ngIf="projectImages | async as images">
				<div *ngFor="let image of images; let i=index">
	        <img
	        	*ngIf="i==imgShown" 
	          [src]="imgUrlPrint"
	          (load)="CheckIfImgLoaded(image)"
	          (click)="loadingImg();clickOnImg(images.length)"
	          class="imgproject">				
				</div>
	    </div>
		</div>

	  <div fxLayout="row wrap" [ngStyle.xs]="{'padding':'5px 5px 20px'}">
	  	<div 
	  		fxFlex="80"
	  		fxLayout="column"
	  		fxLayoutAlign="start start">
					<h3>{{ project.title }}</h3>
					<h4>{{ project.subtitle }}</h4>
			</div>
			<div 
				*ngIf="auth.user | async as user; else login"
				fxFlex="20" 
				fxLayoutAlign="end start">
					<fa [routerLink]="['./../edit', project.$key]" size="2x" name="cog" animation="pulse"></fa>			
			</div>
		</div>

</div>